## Import packages

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
summary_data = pd.read_csv('../Parsed Data/summary_data.csv')

In [3]:
summary_data.shape

(248, 8)

In [4]:
summary_data.head()

,ActivityID,FileName,SportType,StartDate,StartTime,TotalTime,TotalDistance,TotalCalories
0,1,20160529_182949.tcx,Running,2016-05-29,18:29:49,1460,3683.95,419
1,2,20160530_181938.tcx,Running,2016-05-30,18:19:38,1680,4169.46,475
2,3,20160531_184646.tcx,Running,2016-05-31,18:46:46,1489,3890.36,441
3,4,20160601_174610.tcx,Running,2016-06-01,17:46:10,1401,3796.07,428
4,5,20160602_191421.tcx,Running,2016-06-02,19:14:21,1506,3880.34,440

In [5]:
tracking_data = pd.read_csv('../Parsed Data/tracking_data.csv')

In [6]:
tracking_data.shape

(107033, 6)

In [7]:
tracking_data.head()

,ActivityID,TrackingID,TrackingTime,TrackingLatitude,TrackingLongitude,TrackingDistance
0,1,1,18:29:49,54.729475,25.245572,0.00
1,1,2,18:29:50,54.729475,25.245572,0.00
2,1,3,18:30:00,54.729307,25.245577,37.43
3,1,4,18:30:10,54.729041,25.245540,67.18
4,1,5,18:30:16,54.728874,25.245522,85.79

## Data analysis